@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: 'Cairo', sans-serif;
}
:root{
  --shadow:0 0 5px 1px #00000033;
}
::-webkit-scrollbar {
  display: none;
}
::placeholder {
  color: var(--font);
  opacity: 0.44;
}
html,
body,
.container {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
}

header {
  position: fixed;
  padding: 1rem 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  width: 100%;
  text-align: center;
  z-index: 2;
}
header * {
  display: inline-block;
}
header nav {
  border-radius: 10px;
  background: var(--secondary);
  height: 50px;
  line-height: 35px;
  padding: 5px 10px;
  box-shadow: var(--shadow);
}
header span {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  color: var(--theme);
}
header span:hover,
header .active {
  background: var(--theme);
  color: var(--secondary);
}
header nav span:active,
header .active {
  background: var(--theme);
  color: var(--secondary);
}

.main {
  width: 70%;
  max-width: 600px;
  min-width: 340px;
  min-height: 450px;
  max-height: 63vh;
  overflow: auto;
  border-radius: 10px;
  display: none;
  font-family: 'Cairo', sans-serif;
  background: var(--secondary);
  box-shadow: var(--shadow);
}
.main img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.main h1, .main h2{
  margin: 5px;
  color: var(--theme);
}
.main hr {
  margin: 0 10px;
  height: 0;
  background: var(--secondary);
  border: 0.03rem solid var(--primary);
}

#p404 img{width:300px}
#p404 p{
  text-align: center;
  color: var(--font);
}
#p404 button{
  width: 120px;
  height: 40px;
  margin: 10px 5px;
  box-shadow: 0 0 10px 2px #00000033;
  border: 1px solid var(--theme);
  border-radius: 7.5px;
  background: var(--theme);
  color: var(--font);
}
#p404 button:hover{background: var(--secondary);}

#experience div.projects, #posts .postGrid{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#experience .projects .repo,
#posts .postGrid .post{
  width: 250px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.33);
  border-radius: 10px;
  margin: 10px;
  text-align: match-parent;
  background: var(--primary);
  display: inline-block;
}

#experience .projects .repo a,
#posts .postGrid .post a,
#postSection a{
  text-decoration: none;
  display: block;
}

#experience .projects .repo h4,
#posts .postGrid .post h4,
#postSection h4{
  margin: 0;
  font-size: 25px;
  padding: 0 10px !important;
  color: var(--theme);
}

#experience .projects .repo p{
  margin: 0;
  padding-left: 10px;
  color: var(--font);
}

#experience .skills span {
  display: inline-block;
  border: 1px solid var(--primary);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
#experience .skills span:hover {
  background: var(--theme);
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.33);
  border-color: rgba(0,0,0,0.33);
}
#experience .skills p {
  text-align: center;
  color: var(--font);
}
#experience .skills img {
  width: 130px;
  padding-bottom: 10px;
  border-bottom-color: var(--primary);
}

.tabs{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.tabs span{
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 100px;
  color: var(--font);
  height: 40px;
  line-height: 30px;
}
.tabs span.active{
  color: #ffffff !important;
  background: var(--theme);
}
.tab-content{display: none;}
.tab-content.active{display: block;}

#home .logo {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 5px solid var(--primary);
}
#home span.h4 {
  color: var(--font);
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--primary);
  border-radius: 10px;
  text-align: justify;
  display: block;
}
#home span.h4 i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
#home span.h4 button,
#posts .postGrid .post .postFooter button,
#postSection .tags button{
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  background: var(--theme);
  color: #ffffff;
  margin: 5px 2.5px;
}
#home span {
  color: var(--font)
}

#settings fieldset{
  border: none;
  border-top: 1px solid var(--primary);
  margin: 10px;
  color: var(--font);
  text-align: left;
}
#settings fieldset legend{
  border: 1px solid var(--primary);
  border-top: none;
  border-bottom: none;
  padding: 0 10px;
}
#settings fieldset{
  display: flex;
  justify-content: space-between;
}
#settings select, #settings input{
  min-width: 100px;
}

#contact input,
#contact textarea {
  height: 40px;
  width: calc(100% - 20px);
  margin: 5px 10px;
  border-radius: 10px;
  background: var(--primary);
  outline-color: var(--theme);
  color: var(--theme);
  border: none;
  padding: 5px 10px;
}
#contact button {
  height: 50px;
  width: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: var(--primary);
  color: var(--theme);
  border: none;
  padding: 5px 10px;
  font-size: 1.25rem;
  font-weight: 800;
}

#posts .postGrid .post .postFooter{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  color: var(--font);
}
#postSection .postSection{
  color: var(--font);
  margin: 20px;
}
#postSection .postSection a{
  text-decoration: none;
  color: var(--theme);
}

#donate embed{
  width: 90%;
  height: 530px;
  border-radius: 10px;
  margin-top: 10px;
}
#donate span{
  height: 45px;
  line-height: 45px;
  min-width: 120px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #00000033;
  background: var(--theme);
  color: var(--font);
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 0 10px;
}
#donate span img{
  height: 30px;
  width: 30px;
  border: 0;
  margin-right: 5px;
}

.social {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 90px;
}
.social a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: var(--secondary);
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  color: var(--theme);
  margin: 0 3px;
  font-size: 25px;
  box-shadow: var(--shadow);
}
.social a:hover {
  background: var(--theme);
  color: #fff;
}

@media (max-width: 800px){
  html,
  body,
  .container {
    background: var(--secondary);
    display: block;
  }
  .main{
    width: 100%;
    max-height: 100%;
    min-height: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
  }
  #experience .projects .repo, #posts .postGrid .post{width: calc(100% - 40px);}
}

.rtl {
  direction: rtl; 
  text-align: right;
  unicode-bidi: bidi-override;
}

.ltr {
  direction: ltr; 
  text-align: left;
  unicode-bidi: bidi-override;
}
